extends layout
block content
  div
    h1 #{title}
    form(method='POST', action='/articles/add')
      #form-group
        label Tytuł:
        input.form-control(name='title', type='text')
      #form-group
        label Treść:
        textarea.form-control(name='body', type='text')
      br
      input.btn.btn-primary(type='submit', value='Dodaj')
