extends layout
block content
  div
    h1 Zaloguj
    form(method='POST', action='/users/login')
      #form-group
        label Login:
        input.form-control(name='username', type='text')
      #form-group
        label Hasło:
        input.form-control(name='password', type='password')
      br
      input.btn.btn-primary(type='submit', value='Zaloguj')
